appdirs==1.4.4
assertpy==1.1
attrs==21.4.0
Babel==2.9.1
cachetools==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
cloup==0.13.0
coverage==6.3.2
dataclasses==0.6
dataclasses-serialization==1.3.1
deepdiff==5.7.0
Flask==2.0.2
Flask-Babel==2.0.0
from-root==1.0.2
fs==2.4.15
gcloud-storage-emulator==0.5.0
google-api-core==2.7.2
google-auth==2.6.5
google-cloud-core==2.3.0
google-cloud-storage==2.3.0
google-crc32c==1.3.0
google-resumable-media==2.3.2
googleapis-common-protos==1.56.0
idna==3.3
importlib-metadata==4.11.3
iniconfig==1.1.1
itsdangerous==2.1.2
Jinja2==3.0.3
MarkupSafe==2.1.1
more-properties==1.1.1
mypy-extensions==0.4.3
ordered-set==4.0.2
packaging==21.3
pip-chill==1.0.1
pluggy==1.0.0
protobuf==3.20.0
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycountry==22.3.5
pymongo==4.0.2
pyparsing==3.0.8
pytest==7.1.1
pytest-mock==3.7.0
pytz==2022.1
requests==2.27.1
rsa==4.8
six==1.16.0
tomli==2.0.1
toolz==0.11.2
toposort==1.7
typing-inspect==0.7.1
typing_extensions==4.1.1
urllib3==1.26.9
Werkzeug==2.1.1
zipp==3.8.0
